@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: "Inter", sans-serif;
    font-family: "Roboto", sans-serif;
  }
}
@layer components {
  .grass {
    background-color: #b3dbb9;
    color: #416460;
  }
  .fire {
    background-color: #e68124;
    color: #e75c35;
  }
  .normal {
    background-color: #8e5d67;
    color: #735259;
  }
  .water {
    background-color: #5ba2fd;
    color: #1479fb;
  }
  .bug {
    background-color: #82c872;
    color: #4ab648;
  }
  .poison {
    background-color: #9766c7;
    color: #9766c7;
  }
  .electric {
    background-color: #5258cd;
    color: #5258cd;
  }
  .ghost {
    background-color: #4f55bc;
    color: #4f55bd;
  }
  .rock {
    background-color: #a8a8a8;
    color: #a8a8a8;
  }
  .fighting {
    background-color: #b94b2f;
    color: #b94b2f;
  }
  .psychic {
    background-color: #e8ce55;
    color: #e8ce55;
  }
  .ground {
    background-color: #87570f;
    color: #87570f;
  }
  .fairy {
    background-color: #ac375f;
    color: #ac375f;
  }
  .dark {
    background-color: #1b1d1d;
    color: #1b1d1d;
  }
  .steel {
    background-color: #799289;
    color: #799289;
  }
  .ice {
    background-color: #91d0ea;
    color: #91d0ea;
  }
  .dragon {
    background-color: #68aeb8;
    color: #68aeb8;
  }
  .fire-bg {
    background-image: linear-gradient(
      179.75deg,
      #0c1395 -19.96%,
      #2b319b 43.67%,
      #7075d9 138.4%
    );
  }
}
